{% extends 'base.html.twig' %}

{% block title %}New IvaApplication{% endblock %}

{% block body %}
    <h1>Create new IvaApplication</h1>

    {{ include('iva_application/_form.html.twig') }}

    <a href="{{ path('app_iva_application_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
