{% extends 'base.html.twig' %}

{% block title %}New ProductService{% endblock %}

{% block body %}
    <h1>Create new ProductService</h1>

    {{ include('product_service/_form.html.twig') }}

    <a href="{{ path('app_product_service_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
