{% extends 'base.html.twig' %}

{% block title %}Concepto de facturación{% endblock %}

{% block body %}
    <h1>Crear Concepto de facturación</h1>

    {{ include('product_service/_form.html.twig') }}

    <a href="{{ path('app_product_service_index') }}" class="btn btn-primary btn-sm">Volver al listado</a>
{% endblock %}
